<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="ShelfDO" type="com.cici.rich.common.shelf.ShelfDO" />
		<!-- <typeAlias alias="WebSiteDO" type="com.fish.spider.common.dataobject.WebSiteDO"/> -->
		<!-- <typeAlias alias="SearchPag" type="com.fish.spider.common.otherobject.SearchPag"/> -->
	</typeAliases>
	<mappers>
		<!-- <mapper resource="product_sqlmap_mapping.xml" /> -->
		<mapper resource="shelf_sqlmap_mapping.xml" />
	</mappers>
</configuration>